.taskList {
  margin-top: 4rem;
}

.taskListBody {
  text-align: center;
  margin: 0 auto;
  padding: 5rem;
  max-width: 736px;
  line-height: 1.4;
}

.taskListBody svg {
  color: var(--gray-500);
  display: block;
  margin: 0 auto;
  margin-bottom: 2rem;
}
