.header {
  background: var(--gray-700);
  height: 12.5rem;
}

.logo {
  display: flex;
  justify-content: center;
  padding-top: 4.5rem;
}

.searchBar {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  margin-top: -2rem;
  height: 3.375rem;
}

.searchBar input {
  padding: 1rem;
  background: var(--gray-500);
  border: 0;
  border-radius: 8px;
  caret-color: var(--blue);
}

.searchBar button {
  background: var(--blue-dark);
  color: var(--gray-100);
  border: 0;
  font-size: 0.875rem;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.3rem;
  padding: 1rem;
  border-radius: 8px;
  transition: 0.3s;
}

.searchBar button:hover {
  background: var(--blue);
}
