.taskListHeader {
  margin: 0 auto;
  margin-top: 6rem;
  max-width: 736px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--gray-500);
  padding-bottom: 1.5rem;
}

.createdTasks {
  color: var(--blue);
  font-size: 0.875rem;
}

.finishedTasks {
  color: var(--purple);
  font-size: 0.875rem;
}

.createdTasks span,
.finishedTasks span {
  color: var(--gray-100);
  background: var(--gray-400);
  padding: 0 0.5rem;
  border-radius: 40%;
  font-weight: 400;
  margin-left: 0.5rem;
}

.header {
  background: var(--gray-700);
  height: 12.5rem;
}

.logo {
  display: flex;
  justify-content: center;
  padding-top: 4.5rem;
}

.searchBar {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  margin: -2rem auto;
  height: 3.375rem;
  width: 736px;
}

.searchBar input {
  padding: 1rem;
  background: var(--gray-500);
  border: 0;
  border-radius: 8px;
  caret-color: var(--blue);
  width: 100%;
}

.searchBar button {
  background: var(--blue-dark);
  color: var(--gray-100);
  border: 0;
  font-size: 0.875rem;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.3rem;
  padding: 1rem;
  border-radius: 8px;
  transition: 0.3s;
}

.searchBar button:hover {
  background: var(--blue);
}
